// @use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;
@use './partials/mixins' as *;

body {
    background-color: #121922;
    font-family: 'Doppio One', sans-serif;
    color: white;
    li {
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}